<launch>

    <arg name="camera_log_path" default="$(find vins_estimator)../../../results/bag1/param0/camera_result.txt"/>
    <arg name="imu_log_path" default="$(find vins_estimator)../../../results/bag1/param0/imu_result.txt"/>
    <arg name="bag_directory" default="$(find vins_estimator)../../../dataset/FBM1_flight1.bag"/>

    <param name="/use_sim_time" value="true" />

    <node pkg="rosbag" type="play" name="rosbag" args="$(arg bag_directory) --clock" />

    <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/camera/color/image_raw out:=/test" />

    <!-- <node name="vicon_correction" type="vicon_correction" pkg="vins_estimator" output="screen" /> -->

    <node name="result_to_txt" type="result_to_txt" pkg="vins_estimator" output="screen">
        <param name="/camera_log_path" type="string" value="$(arg camera_log_path)"/>
    </node>

    <node name="ywy_result_to_txt" type="ywy_result_to_txt" pkg="vins_estimator" output="screen">
        <param name="/imu_log_path" type="string" value="$(arg imu_log_path)"/>
    </node>

    <node name="camera_imu_synchronizer" type="camera_imu_synchronizer" pkg="vins_estimator" output="screen" />
    
    <!-- <arg name="config_path" default = "$(find feature_tracker)/../config/realsense/icuas_bag1.yaml" /> -->
    <!-- <arg name="config_path" default = "$(find feature_tracker)/../config/realsense/icuas_bag2.yaml" /> -->
    <arg name="config_path" default = "$(find feature_tracker)/../config/realsense/icuas_bag1.yaml" />
	  <arg name="vins_path" default = "$(find feature_tracker)/../config/../" />
    
    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="pose_graph" pkg="pose_graph" type="pose_graph" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="visualization_shift_x" type="int" value="0" />
        <param name="visualization_shift_y" type="int" value="0" />
        <param name="skip_cnt" type="int" value="0" />
        <param name="skip_dis" type="double" value="0" />
    </node>
    <!-- Visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vins_estimator)/launch/icuas.rviz" output="screen" />


</launch>
